


/* body */
body{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* header */
header{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between; 
    border: solid white;
}

p.logo {
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 70px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

p.derecho{
    color: white;
}

.buscador{
    width: 200px;
    border: 1px solid white;
    padding: 5px;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* MAIN */

img.rotativa{
width: 100%;
height: 500px;
text-align: center;
}

.container{
margin: 15px;
padding: 15px;
justify-content: center;
text-align: center;
}

.container-row{
    list-style: none;
    display: flex;
    flex-wrap: wrap;   
}

.container-img{
    width: 31%;
    padding: 15px; 
}

.img1{
    border: 1px solid white;
}

h1{
    text-align: center;
    padding: 15px;
    margin: 15px;
}


/* FOOTER  */

footer{
  
    border: solid white;
}

.footer-container{
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-size: 16px;
    
}

footer div ul{
   list-style: none;
   margin-left: 100px;
}


.footer-link{
    display: flex;
    
}

.link{
    width: 300px;
}

.link h3{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.link a{
    color: white;
    font-size: 10px;
    display: block;
    margin-bottom: 25px;
    font-size: 16px;
}

.link a:hover{
    color: burlywood;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

input{
    /* no se como hacer para que quede a la altura correcta */
    border: 1px solid;
    padding: 10px;
    outline: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

::placeholder{
    color: black;
}

hr{
    max-resolution: 50px 0;
    border: 1px solid   black;
}

.footer-txt{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.footer-txt p{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}


/* page producto */
.container-img-producto{
    width: 23%;
    padding: 15px; 
}

.carrito{
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
    margin-left: 140px;        
    }

/* page producto */

.boton1{
    border-radius: 10px;
    padding: 3px;
    margin-top: 35px;
    background-color: white;
    color: black;

}

.boton1:hover{
    background-color: burlywood;
    color: white;
}


/* page crear usuario */


.crear{
    padding: 40px 55px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
    display: flex;
    margin-left: 500px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    color: white;
    font-size: 35px;
}

label {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25 px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid ;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: black;

}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn3 {
    font-size: 16px;
    color: black;
    border: 0;
    border-radius: 25px;
    background-color: gray;
    cursor: pointer;
}

/* page contacto */

.mainc{
    justify-content: space-between;
  

}

.contactos ul{
    list-style: none;
    font-size: 18px;
    float: left;
   margin-left: 50px;
}